<div class="nested-fields sortable">
  <div class="sort-handle">===</div>
  <%= f.hidden_field :layout, value: 'pull_quote' %>
  <%= f.hidden_field :position, class: 'position' %>

  <div class="col-sm-12">
    <h4>Pull Quote</h4>
  </div>

  <div class="col-sm-12">
    <div class="form-group">
      <%= f.cktext_area :body, class: 'form-control' %>
    </div>
  </div>

  <div class="col-sm-12">
    <%= link_to_remove_association "Remove Section", f %>
    <hr>
  </div>
</div>
